# Arquivos gerados pela execução do código
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Arquivos de dados ou resultados
data/
resultados/
*.csv

# Arquivos de saída de gráficos ou visualizações
plots/
*.png
*.jpg

# Arquivos de configuração local
config.ini
secrets.yaml

# Arquivos de dependências
venv/
